<div class="{% if social_icon_alignment == 'left' %} tw-justify-start{% elsif social_icon_alignment == 'right' %} tw-justify-end{% else %} tw-justify-center{% endif %} tw-pb-[10px] lg:tw-pb-[12px] tw-flex tw-flex-row">
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.6175 28.1815V19.112H22.6407L23.2146 15.361H19.6175V12.9256C19.6175 11.8969 20.1214 10.8962 21.731 10.8962H23.3685V7.70506C23.3685 7.70506 21.8849 7.45312 20.4643 7.45312C17.4971 7.45312 15.5656 9.25164 15.5656 12.4988V15.354H12.2695V19.105H15.5656V28.1745H19.6175V28.1815Z" fill="white"/>
    </svg>
    <svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M26.4806 16.0257C26.3266 16.0397 26.1727 16.0467 26.0187 16.0467C24.3322 16.0467 22.7506 15.193 21.8268 13.7793V21.4913C21.8268 24.6404 19.2725 27.1947 16.1234 27.1947C12.9742 27.1947 10.4199 24.6404 10.4199 21.4913C10.4199 18.3421 12.9742 15.7878 16.1234 15.7878C16.2424 15.7878 16.3613 15.8018 16.4733 15.8088V18.615C16.3543 18.601 16.2424 18.58 16.1234 18.58C14.5138 18.58 13.2122 19.8817 13.2122 21.4913C13.2122 23.1008 14.5138 24.4025 16.1234 24.4025C17.7329 24.4025 19.1466 23.1358 19.1466 21.5262L19.1746 8.42578H21.8618C22.1138 10.8331 24.0592 12.7156 26.4736 12.8976V16.0187L26.4806 16.0257Z" fill="white"/>
    </svg>
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.6418 11.0645C22.963 11.0645 22.4102 11.6173 22.4102 12.2961C22.4102 12.9749 22.963 13.5278 23.6418 13.5278C24.3206 13.5278 24.8735 12.9749 24.8735 12.2961C24.8735 11.6173 24.3206 11.0645 23.6418 11.0645Z" fill="white"/>
        <path d="M18.1716 12.6455C15.3234 12.6455 13 14.9619 13 17.8171C13 20.6723 15.3164 22.9887 18.1716 22.9887C21.0268 22.9887 23.3432 20.6723 23.3432 17.8171C23.3432 14.9619 21.0268 12.6455 18.1716 12.6455ZM18.1716 21.1272C16.3451 21.1272 14.8615 19.6436 14.8615 17.8171C14.8615 15.9906 16.3451 14.507 18.1716 14.507C19.9981 14.507 21.4817 15.9906 21.4817 17.8171C21.4817 19.6436 19.9981 21.1272 18.1716 21.1272Z" fill="white"/>
        <path d="M22.2789 28.3146H13.8951C10.4171 28.3146 7.58984 25.4874 7.58984 22.0093V13.6256C7.58984 10.1475 10.4171 7.32031 13.8951 7.32031H22.2789C25.7569 7.32031 28.5842 10.1475 28.5842 13.6256V22.0093C28.5842 25.4874 25.7569 28.3146 22.2789 28.3146ZM13.8951 9.29378C11.5088 9.29378 9.56331 11.2393 9.56331 13.6256V22.0093C9.56331 24.3957 11.5088 26.3412 13.8951 26.3412H22.2789C24.6652 26.3412 26.6107 24.3957 26.6107 22.0093V13.6256C26.6107 11.2393 24.6652 9.29378 22.2789 9.29378H13.8951Z" fill="white"/>
    </svg>
</div>
