#CartDrawer {
    max-width: 544px;
    flex: 544px;
}
.cart-drawer * {
    color: #000000
}
.cart-drawer .drawer__inner {
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border: 0;
    padding: 0;
}
.cart-drawer .cart-drawer__form {
    padding: 4px 24px 0;
}
.cart-drawer .cart-upsell {
    margin-top: 32px;
    padding: 0 24px 30px;
}
.cart-drawer .upsell-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 12px;
    text-align: left;
}
.cart-drawer .upsell__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 12px;
}
.cart-drawer .upsell__item {
    display: flex;
    flex-direction: column;
}
.cart-drawer .upsell__img {
    aspect-ratio: 1;
}
.cart-drawer .upsell__img img {
    width: 100%;
    height: 100% !important;
    display: block;
    object-fit: contain;
    background-color: #F6F6F6;
}
.cart-drawer .upsell__details {
    padding-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.cart-drawer .product__title {
    font-size: 14px;
    margin: 0 0 6px;
    text-transform: uppercase;
}
.cart-drawer .product__price {
    font-size: 16px;
    margin-bottom: 14px;
    display: block;
    line-height: 1;
}
.cart-drawer .product__link {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    height: 40px;
    margin-top: auto;
}
.drawer.active .drawer__inner {
    display: flex;
}
.cart-drawer .drawer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    position: relative;
    overflow: hidden;
    width: 100%;
  background:#000;
}
.cart-drawer .header__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.cart-drawer .header__bg img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100% !important;
}
.cart-drawer .header__grid {
    display: flex;
    align-items: center;
    grid-gap: 12px;
}
.cart-drawer .header__icon {
    max-width: 20px;
    flex: 20px;
}
.cart-drawer .header__icon svg {
    width: 100%;
    height: 100%;
}
.cart-drawer .drawer__heading {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    margin: 0;
}
.cart-drawer .drawer__close {
    min-width: unset;
    min-height: unset;
    max-width: 24px;
    flex: 14px;
    height: 24px;
    position: unset;
    display: flex;
}
.cart-drawer .close__icon {
    display: flex;
}
.cart-drawer .close__icon svg {
    width: 100%;
    height: 100%;
}
.cart-drawer .drawer__inner-empty {
    padding: 24px 0 0;
    overflow: auto;
    width: 100%;
}
.cart-drawer .cart-drawer__empty-content {
    padding: 0 24px;
}
.cart-drawer .cart__empty-text {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}
.cart-drawer .cart__quote {
    margin-top: 16px;
}
.cart-drawer .stars__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1px;
    margin-bottom: 16px;
}
.cart-drawer .star {
    max-width: 14px;
    flex: 14px;
    display: flex;
}
.cart-drawer .star svg {
    width: 100%;
    height: 100%;
}
.cart-drawer .quote {
    font-size: 16px;
    font-weight: 400;
    max-width: 346px;
    margin: 0 auto;
    line-height: 1.3;
}
.cart-drawer .quote p {
    margin: 0;
}
.cart-drawer .quote p:not(:last-child) {
    margin-bottom: 10px;
}
.cart-drawer .name {
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    margin-top: 16px;
    line-height: 1;
}
.cart-drawer .drawer__footer {
    padding: 20px 24px;
    border-top: 1px solid #E6E2E0;
    width: 100%;
}
.cart-drawer .button {
    display: flex;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    align-items: center;
    grid-gap: 6px;
}
.cart-drawer .cart-drawer__overlay {
    background-color: rgba(0, 0, 0, 0.4);
}
.cart-drawer .tax-note {
    margin: 8px 0 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: TT Norms Pro Mono Trl Variable;
}
.cart-drawer .total__price {
    color: #fff;
}
.cart-drawer .cart-items td {
    padding: 0 !important;
}
.cart-drawer .cart-item__media {
    width: 100%;
    max-width: 120px;
    flex: 120px;
}
.cart-drawer .line__details {
    flex: 1;
}
.cart-drawer .cart-item__image {
    height: 100% !important;
    display: block;
    object-fit: contain;
    background-color: #F6F6F6;
    aspect-ratio: 1;
}
.cart-drawer .cart-item:last-child {
    margin-bottom: 0;
}
.cart-drawer .cart-item {
    padding: 20px 0;
    border-bottom: 1px solid #00000033;
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
.cart-drawer .cart-item__name {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none !important;
}
.cart-drawer .cart-item__quantity-wrapper {
    align-items: center;
}
.cart-drawer quantity-popover .quantity {
    background-color: transparent;
    min-height: 32px;
    border: 1px solid #000000;
    max-width: 80px;
}
.cart-drawer quantity-popover .quantity::before {
    content: unset;
}
.cart-drawer .quantity__icon {
    pointer-events: none;
}
.cart-drawer .quantity__input {
    font-size: 14px;
    font-weight: 500;
    background-color: transparent !important;
}
.cart-drawer .cart-item cart-remove-button {
    margin: 0 0 0 12px;
    max-width: 24px;
    height: 24px;
    display: flex;
    width: 100%;
}
.cart-drawer cart-remove-button .button {
    background-color: transparent;
    border: 0;
    height: 100%;
    min-width: unset;
    min-height: unset;
    width: 100%;
}
.cart-drawer .product-option {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
.cart-drawer dl .product-option {
    font-size: 12px;
    font-family: TT Norms Pro Mono Trl Variable;
    text-transform: uppercase;
}
.cart-drawer dl {
    margin: 0 0 10px;
}
.cart-drawer .quantity__button {
    max-width: 33.33%;
}
.cart-drawer .quantity__button svg {
    width: 12px;
}
.cart-drawer .cart-item__details {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -3px;
    flex-wrap: wrap;
    grid-row-gap: 4px;
}
.cart-drawer .cart-item__details .product-option {
    margin-top: 0;
}
.cart-drawer .cart-items .cart-item__quantity {
    padding: 0;
}
.cart-drawer .meta-text {
    margin: 0 0 12px;
    font-size: 12px;
    font-weight: 400;
    font-family: TT Norms Pro Mono Trl Variable;
    text-transform: uppercase;
    line-height: 1.2;
}
.cart-drawer .cart-item__error:has(.cart-item__error-text:empty) {
    display: none;
}
.custom_price{
  span{
    font-weight:600;
  }
  span.sale-price{ color:#0009;text-decoration: line-through; }
}
@media screen and (max-width: 767px) {
    #CartDrawer {
        max-width: 100%;
        flex: 100%;
    }
    .cart-drawer .drawer__header {
        padding: 18px;
    }
    .cart-drawer .drawer__heading {
        font-size: 22px;
    }
    .cart-drawer .drawer__close {
        max-width: 22px;
        flex: 22px;
        height: 22px;
    }
    .cart-drawer .header__grid {
        grid-gap: 8px;
    }
    .cart-drawer .cart-drawer__empty-content {
        padding: 0 18px;
    }
    .cart-drawer .cart__empty-text {
        font-size: 30px;
    }
    .cart-drawer .upsell__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .cart-drawer .cart-drawer__form {
        padding: 4px 18px 0;
    }
    .cart-drawer .cart-item__media {
        max-width: 108px;
        flex: 108px;
    }
    .cart-drawer .cart-item cart-remove-button {
        max-width: 22px;
        height: 22px;
    }
    .cart-drawer .cart-item {
        grid-gap: 12px;
    }
    .cart-drawer .cart-upsell {
        padding: 0 18px 24px;
    }
    .cart-drawer .drawer__footer {
        padding: 20px 18px;
    }
}