.contact-details .contact-details-inner { max-width: 800px; width: 100%; margin: 0 auto; }
.contact-details{background:#fff;padding:64px 0 102px;}
.contact-details .Common_title_new h2{color:#000000;}
.contact-details .short-description p,.contact-details .short-description p a{color:#000000;font-size: 16px;font-weight: 400;line-height: 20.48px;text-align: left;}
.contact-details .short-description p{margin: 24px auto 32px;max-width:800px;}
.contact-details .short-description p a{text-underline-offset:5px;text-decoration-thickness:1px;}
.contact-details .page-width{padding: 0 320px !important;}
.contact-details .contact-img img{position:absolute;height:100%;object-fit:cover;width:100%;}
.contact-details .contact-img{position: relative;aspect-ratio: 1 / 0.708;width: 100%;height: 100%;overflow: hidden;}
.contact-details .contact-img a { position: absolute; width: 100%; height: 100%; top:0; left: 0; }
@media(min-width:1500px){
  .contact-details .short-description p{margin: 24px 0 32px;}
}
@media(max-width:1250px){
 .contact-details .page-width {padding: 0 220px !important;}
}
@media(max-width:900px){
  .contact-details .page-width {padding: 0 89px !important;}
}
@media(max-width:750px){
  .contact-details .page-width {padding: 0 20px !important;}
  .contact-details .short-description p{margin: 16px 0 32px;}
  .contact-details{padding:42px 0 16px;}
  .contact-details .contact-img{aspect-ratio: 1 / 0.989;}
  .contact-details .contact-img img{height:100%!important;}
}