.contact_form_with_bg_wrapper{position:relative;line-height:0;}
.content_wrapper_contact{position:absolute;left:0;max-width:539px;top:50%;width: 100%;transform: translate(0px, -50%);background:#fff;margin:0 61px;}
.content_wrapper_contact .page-width{padding:32px!important;}
.contact_form_div_title h2{color:#000;margin-bottom:16px;}
.contact_short_description p{margin:0 0 24px;color: #000;font-size: 16px;font-style: normal;font-weight: 400;line-height: 128%;}
.contact_form_with_bg_wrapper .field{margin-bottom:16px;}
.contact_form_with_bg_wrapper .field input,.contact_form_with_bg_wrapper .field textarea{font-size: 16px;font-style: normal;font-weight: 700;line-height: 125%;letter-spacing: 0.16px;text-transform: uppercase;}
.contact_form_with_bg_wrapper .field__label{font-size: 16px;font-style: normal;font-weight: 700;line-height: 125%; letter-spacing: 0.16px;text-transform: uppercase;}
.contact_form_with_bg_wrapper .field textarea{max-height:146px;}
.contact__button .button{min-width:100%;margin-top:8px;}
.contact_short_description p a{color:inherit;text-decoration-thickness:1px;text-underline-offset:3px;}
@media(max-width:1025px){
  .contact_form_with_bg_wrapper .field textarea {min-height: 65px;height: 100%;max-height:65px;}
}
@media(max-width:900px){
  .contact_short_description{max-width: 600px;}
  .background_image_wrapper_div{display:none;}
  .content_wrapper_contact{position: relative;left: 0;max-width: 100%;width: auto;transform: none;margin: 0 61px;right: 0;}
}
@media(max-width:768px){
  .content_wrapper_contact{margin:0;}
  .content_wrapper_contact .page-width{padding:32px 20px 56px!important;}
  .contact_form_with_bg_wrapper .field textarea{min-height: 146px;max-height: 146px;}
}