

.hb_glasses img,
.hb_glasses video {
    width: 100%;
    height: 100% !important;
    display: block;
    object-fit: cover; 
}
.hb_glasses {
    padding: 0 0 108px 0;
    background-color: #ffffff;
}
.hb_glasses .page-width {
    padding: 0 56px 0 0 !important;
}
.hb_glasses__title {
    font-family: var(--font-heading-family);
    font-size: 56px;
    font-weight: 700;
    line-height: 58.8px;
    letter-spacing: -0.01em;
    margin: 0 0 56px;
    max-width: 860px; 
    padding-left: 56px;
    color: #000000;
}
.hb_glasses__main--wrapper {
    display: flex;
}
.hb_glasses__images--wrap {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 72.6%;
    flex: 72.6%;
}
.hb_glasses__large--image {
    max-width: 651px;
    flex: 651px;
    position: sticky;
    top: 0;
    height: 825px;
}
.hb_glasses__center--image-wrap {
    max-width: 353px;
    flex: 353px;
    padding-left: 12px;
    position: sticky;
    display: block;
    top: 0;
} 
.hb_glasses__center--image {
    margin: 0 0 12px;
}
.hb_glasses__center--image.mobile {
    display: none;
}
.hb_glasses__center--image:last-child {
    margin: 0;   
}
.hb_glasses__texts--wrap {
    max-width: 27.4%;
    flex: 27.4%;
    padding-left: 56px;
    position: sticky;
    top: 0;
    left: 0;
    height: fit-content;
    padding-top: 283px;
}
.hb_glasses__text--title {
    font-family: var(--font-heading-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
    color: #000000;
    text-align: left;
    letter-spacing: 0;
    margin: 0 0 16px;
    text-wrap: balance; 
}
.hb_glasses__text--content {
    font-family: var(--font-heading-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
    color: #000000;
}
.hb_glasses__text--content p {
    margin: 0 0 16px; 
}
.hb_glasses__text--content :last-child {
    margin: 0; 
}

.hb_glasses__center--image.desktop {
    height: 330px;
}
.hb_glasses .hb_glasses__texts--wrap h2.hb_glasses__text--title {
    margin-bottom: 16px;
}

@media screen and (min-width: 1441px) {
    .hb_glasses__large--image {
        max-width: calc(100% - 210px);
    }
    .hb_glasses__texts--wrap {
        max-width: calc(100% - 210px);
    }
    .hb_glasses__images--wrap {
        max-width: calc(50% + 210px);
        flex: calc(50% + 210px);
    }
    .hb_glasses__text--title,
    .hb_glasses__text--content {
        max-width: 324px;
        margin: 0 auto;
    }
    .hb_glasses__center--image-wrap {
        max-width: 420px;
    }
}
@media screen and (max-width: 1279px) {
    .hb_glasses__center--image.desktop {
        height: 330px;
    }
    .hb_glasses__texts--wrap {
        padding-left: 30px;
    }
    .hb_glasses__large--image {
        height: 600px;
    }
}
@media screen and (max-width: 990px) {
    .hb_glasses {
        padding: 56px 0 56px 0;  
    }
    .hb_glasses .page-width {
        padding: 0 !important;
    }
    .hb_glasses__title {
        font-size: 40px;
        line-height: 1;
        margin: 0 0 20px;
        max-width: 100%; 
        padding-left: 20px;
        padding-right: 20px;  
    }
    .hb_glasses__main--wrapper { 
        flex-direction: column;
    }
    .hb_glasses__center--image-wrap {
        margin-bottom: 0;
    } 
    .hb_glasses__text--title {
        text-wrap: unset;
    }
    .hb_glasses__images--wrap {
        display: flex;
        align-items: flex-start;
        width: 100%;
        max-width: 100%;
        flex: 100%;
        margin: 0 0 36px; 
        column-gap: 16px; 
    }
   .hb_glasses__images--wrap  .swiper-container  {
        width: 100%;
        overflow: hidden;
    }
    .hb_glasses__images--wrap .hb_glasses__center--image-wrap {
        overflow: hidden;
        white-space: nowrap;
        will-change: transform; 
        animation: marquee 30s linear infinite;
    }
    @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }
    .hb_glasses__center--image-wrap.swiper-wrapper{
        transition-timing-function: linear !important;
      }
    .hb_glasses__center--image-wrap {
        max-width: max-content;
        min-width: max-content;
        flex: max-content;
        padding-left: 0;
        position: unset;
        display: flex;
        column-gap: 16px;
    }
    .hb_glasses__center--image.desktop {
        display: none;
    }
    .hb_glasses__center--image.mobile {
        display: block; 
        margin: 0;
    }
    .hb_glasses .hb_glasses__center--image:last-child {
        padding-right: 20px;
    }
    .hb_glasses__texts--wrap {
        max-width: 100%;
        flex: 1;
        padding-left: 0;
        position: unset;
        padding: 0 25px 0 25px;
        transform: unset; 
    }
    .hb_glasses__large--image {
        max-width: 228px; 
        min-width: 228px;
        display: none;
        flex: 1;
        position: unset;
        top: 0;
        height: 300px; 
        margin-left: 20px;
    }

}
