.hb_image_video_overlay svg {
    width: 100%;
    height: 100%;
    display: block;
}
.hb_image_video_overlay img {
    width: 100%;
    height: 100% !important;
    display: block;
    object-fit: cover;
}
.hb_image_video_overlay video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.hb_image_video_overlay {
    position: relative;
}
.hb_image_video_overlay .hb_image_video_overlay_overlap {
    position: absolute;
    top: 0;
    height: 100%;
    width: 56px;
    z-index: 1;
    display: block;
}
.hb_image_video_overlay .hb_image_video_overlay_back_left {
    left: 0;
}
.hb_image_video_overlay .hb_image_video_overlay_back_right {
    right: 0;
}
.hb_image_video_overlay .hb_image_video_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
}
.hb_image_video_overlay .hb_image_video_alpha {
    max-width: 509px;
    flex: 509px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
    text-align: left;
    gap: 20px;
    position: relative;
    z-index: 1;
}
.hb_image_video_overlay .hb_alpha_title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.01em;
    margin: 0px;
    color: #FFFFFF;
}
.hb_image_video_overlay .hb_alpha_text_wrapper {
    max-width: 366px;
}
.hb_image_video_overlay .hb_alpha_quote {
    width: 24px;
    height: 32px;
    margin: 0 0 24px;
}
.hb_image_video_overlay .hb_alpha_description {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0px;
    margin: 0px 0px 24px;
}
.hb_image_video_overlay .hb_alpha_description p {
    margin: 0px;
}
.hb_image_video_overlay .hb_alpha_name {
    font-family: 'TT Norms Pro Trial Variable';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0px;
    margin: 0 0 8px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.hb_image_video_overlay .hb_aplha_text {
    font-family: "TT Norms Pro Mono Trl Variable";
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #FFFFFF;
    margin: 0px;
    text-transform: uppercase;
}
.hb_image_video_overlay .hb_image_video_beta {
    max-width: 628px;
    flex: 628px;
    position: relative;
    z-index: 1;
}
.hb_image_video_overlay .hb_beta_image {
    width: 100%;
    height: 100%;
}
.hb_image_video_overlay .hb_beta_video_wrap {
    position: absolute;
    right: 16px;
    bottom: 16px;
    border: 1.5px solid #FFFFFF;
    width: 257px;
    height: 158px;
    z-index: 9;
}
.hb_image_video_overlay .hb_beta_video {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.hb_image_video_overlay .hb_video_icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(23px);
    background: #FFFFFF1F;
    pointer-events: none;
}
.hb_image_video_overlay .hb_video_icon svg {
    width: 15px;
    height: 17.5px;
}
.hb_image_video_overlay .hb_image_video_gradient {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
}
.hb_image_video_overlay .hb_image_video_mobile_gradient {
    display: none;
}
.hb_image_video_overlay .hb_video_mobile {
    display: none;
}

/* --------------hb-video-popup-------------- */
.hb_image_video_overlay .hb_video_popup {
    display: none;
}
.hb_image_video_overlay .hb_video_popup__wrapper {
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
}
.hb_image_video_overlay .hb_video_popup__inner--wrap {
    position: relative;
    width: 100%;
}
.hb_image_video_overlay .hb_video_popup__video {
    height: 80vh;
}
.hb_image_video_overlay .hb_video_popup__video div {
    height: 100%;
}
.hb_image_video_overlay .hb_video_popup__icon {
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 20px; 
    right: 20px;
    cursor: pointer;
}
.hb_image_video_overlay .hb_video_popup__icon svg path{
    stroke: #FFFFFF;
}
.hb_image_video_overlay .hb_video_popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);    
    z-index: 1;
    display: block;
}
.popup-open .hb_image_video_overlay .hb_video_popup {
    display: block;
}
.popup-open {
    overflow: hidden;
}
.popup-open  .Index_object_table_detail_main_new,
.popup-open  .Index_featured_collection_main_new {
    position: relative;
    z-index: -1;
}
.hb_video_icon_mob {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(23px);
    backdrop-filter: blur(23px);
    background: #ffffff1f;
    z-index: 1;
    cursor: pointer;
}
.hb_image_video_overlay .hb_video_icon_mob svg {
    width: 15px;
    height: 18px;
}
.hb_image_video_overlay .hb_thumbnail_image_mob {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    display: none;
}

@media (min-width: 750px) and (max-width: 1439px) {
    .hb_image_video_overlay .hb_image_video_overlay_overlap {
        width: 20px;
    }
}
@media screen and (max-width:1279px) {
    .hb_image_video_overlay .hb_alpha_title {
        font-size: 44px;
    }
    .hb_image_video_overlay .hb_alpha_description {
        font-size: 18px;
    }
    .hb_image_video_overlay .hb_alpha_text_wrapper {
        max-width: 353px;
    }
}
@media screen and (max-width:990px) {
    .hb_image_video_overlay .hb_image_video_alpha {
        padding: 20px;
        gap: 15px;
    }
    .hb_image_video_overlay .hb_alpha_title {
        font-size: 33px;
    }
    .hb_image_video_overlay .hb_alpha_description {
        font-size: 15px;
    }
    .hb_image_video_overlay .hb_alpha_text_wrapper {
        max-width: 280px;
    }
  
}
@media screen and (max-width:767px) {
    .hb_image_video_overlay .hb_image_video_overlay_overlap {
        display: none;
    }
    .hb_image_video_overlay .hb_image_video_mobile_gradient {
        display: block;
    }
    .hb_video_icon_mob.play,
    .hb_image_video_overlay .hb_image_video_disktop_gradient {
        display: none;
    }
   
    .hb_image_video_overlay .hb_image_video_wrapper {
        flex-direction: column;
        margin: 0 -20px;
        padding: 56px 20px;
    }
    .hb_image_video_overlay .hb_image_video_beta {
        display: none;
    }
    .hb_image_video_overlay .hb_image_video_alpha {
        padding: 0;
        gap: 0px;
        width: 100%;
        max-width: 100%;
        flex: unset;
        text-align: center;
    }
    .hb_image_video_overlay .hb_alpha_title {
        font-size: 40px;
        line-height: 1;
        margin: 0 0 24px;
    }
    .hb_image_video_overlay .hb_video_mobile {
        display: block;
        position: relative;
        height: 100%;
        margin: 0 0 32px;
        z-index: 1;
    }
    .hb_image_video_overlay .hb_mobile_video {
        width: 100%;
        aspect-ratio: 1 / 0.61;
    }
    .hb_image_video_overlay .hb_mobile_video_icon {
        width: 36px;
        height: 36px;
        background: #00000040;
        position: absolute;
        bottom: 16px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 1;
    }
    .hb_image_video_overlay .hb_mobile_video_icon svg {
        width: 20px;
        height: 20px;
    }
    .hb_image_video_overlay .hb_mobile_video_icon .unmute {
        display: none;
    }
    .hb_image_video_overlay .hb_mobile_video_icon.unmute .unmute {
        display: block;
    }
    .hb_image_video_overlay .hb_mobile_video_icon.unmute .mute {
        display: none;
    }
  
    .hb_image_video_overlay .hb_alpha_text_wrapper {
        max-width: 89.86%;
        width: 100%;
        margin: 0 auto;
    }
    .hb_image_video_overlay .hb_alpha_quote {
        margin: 0 auto 24px;
    }
    .hb_image_video_overlay .hb_alpha_description {
        font-size: 20px;
        font-weight: 700;
    }
    .hb_image_video_overlay .hb_thumbnail_image_mob {
        display: block;
    }
    .hb_image_video_overlay:has(.hb_video_icon_mob.play) .hb_thumbnail_image_mob {
        display: none;
    }
   
}