.hb_info-section{
    background-color: #F6F6F6;
    padding: 96px 0px;
}
.hb_info_title{
    font-family: 'TT Norms Pro Trial Variable';
    font-size: 56px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.01em;
    text-align: center;
    color: black;
    margin: 0px 0px 48px;
}
.hb_info__card-section{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px -16px;
}
.hb_info-card__container{
    max-width: 25%;
    width: 100%;
    height: unset;
    padding: 0px 8px;
    margin-bottom: 16px;
}
.hb-info__card{
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 24px;
    height: 100%;
}
.hb_info-card__number{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 31px;
    height: 31px;
    flex: 31px;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 50%;
    color: #000000;
    font-family: 'TT Norms Pro Trial Variable';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    text-align: left;
    margin-bottom: 20px;
}
.hb_info-card__title{
    font-family: 'TT Norms Pro Trial Variable';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    text-align: left;
    color: black;
    margin: 0px 0px 12px;
    text-transform: uppercase;
}
.hb_info-card__pera {
    font-family: 'TT Norms Pro Trial Variable';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
}
.hb_info-card__pera p {
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .hb_info-card__container{
        max-width: 33.33%;
    }
}
@media screen and (max-width: 990px) {
    .hb_info-card__container{
        max-width: 50%;
    }
}
@media screen and (max-width: 767px) {
    .hb_info-card__container{
        max-width: 100%;
    }
    .hb_info_title{
        font-size: 40px;
        margin: 0px 0px 24px;
    }
    .hb_info-section {
        padding: 56px 0;
    }
    .hb-info__card {
        padding: 16px;
        display: flex;
        align-items: flex-start;
        border: none;
        outline: 1px solid #000000;
    }
    .hb_info-card__number {
        min-width: 31px;
        margin: 0 16px 0px 0px ;
    }
  
}