.Product_object__range--content {
  max-width: 386px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 100%;
}
.Product_object__ragne--icon {
  max-width: 24px;
  height: 24px;
  display: block;
  width: 100%;
}
.Product_object__range--content img,
.Product_object__range--content svg {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
}
.Product_object__range--input {
  width: 100%;
  height: 40px;
  background-color: #FFFFFF2B;
  -webkit-appearance: none;
  display: block;
  border: 1px solid #fff;
  box-shadow: none;
  outline: none;
  padding: 4px;
  margin:0;
  border-radius:0;
}
.Product_object__range--input::-webkit-slider-thumb {
  max-width: 32px;
  -webkit-appearance: none;
  height: 32px;
  width: 100%;
  cursor: ew-resize;
  background: url(https://cdn.shopify.com/s/files/1/0520/6877/8179/files/material-symbols-light_drag-handle.png?v=1726819017);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.Produdct_object__range--row {
  display: flex;
  grid-gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}
.Product_object__range--title {
  font-family: TT Norms Pro Mono Trl Variable;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  display: block;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .Product_object__range--content {
    right: 56px;
    bottom: 92px;
  }
}
@media screen and (max-width: 990px) {
  .Product_object__range--content {
    max-width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .Product_object__range--content {
    max-width: 243px;
    position: unset;
    margin: 28px auto 0;
  }
  .Product_object__ragne--icon {
    display: none;
  }
  .Produdct_object__range--row {
    grid-gap: 0;
  }
}
