
.hb_role-section {
    background-color: #fff;
    padding: 96px 0px;
}
.hb_role__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.hb_role_section_title {
    font-family: 'TT Norms Pro Trial Variable';
    font-size: 56px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000000;
    margin: 0;
}
.hb_role_section_text {
    max-width: 298px;
    width: 100%;
    font-family: 'TT Norms Pro Trial Variable';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
}
.hb_role_section_text p {
    margin: 0;
}
.hb_role_section_text a {
    font-family: 'TT Norms Pro Trial Variable';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.02em;
    color: #000000;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.hb_content_mobile_text{
    display: none;
}
.hb_role_dot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 4px;
    flex: 4px;
    height: 4px;
    background-color: #000000;
    border-radius: 50%;
    margin: 5px;
}
.hb_role__container {
    border-bottom: 1px solid rgb(130,130,130);
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1.345fr 1fr 1fr auto;
    gap: 10px;
    align-items: center;
}
.hb_role__emp_name {
    font-family:'TT Norms Pro Trial Variable';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    text-align: left;
    color: #000000;
    letter-spacing: 0px;
    margin: 0px;
    text-transform: uppercase;
}
.hb_role_content_text {
    font-family:'TT Norms Pro Trial Variable';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.25;
    text-align: left;
    color: #000000;
    margin: 0px;
}
.hb_role__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    padding: 11px 16px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: .01em;
    text-align: left;
    color: #fff;
    background-color: #000;
    gap: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-family:'TT Norms Pro Trial Variable';
}
@media screen and ( max-width: 767px) {
    .hb_role-section {
        padding: 56px 0 16px;
    }
    .hb_role__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 16px 0;
    }
    .hb_role_content_title_wrap {
        flex: 1;
    }
    .hb_role__header {
        flex-direction: column;
        align-items: start;
        margin-bottom: 16px;
    }
    .hb_role_section_title {
        font-size: 40px;
        margin: 0 0 16px;
    }
    .hb_role_section_text {
        max-width: 100%;
    }
    .hb_role__emp_name {
        font-size: 14px;
        margin: 0px 0px 8px;
    }
    .hb_role_content_text {
        font-size: 14px;
    }
    .hb_role_content__flexer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hb_mobile_none{
        display: none;
    }
    .hb_content_mobile_text{
        display: flex;
        align-items: center;
    }
    .hb_role__btn {
        padding: 10.5px 10px;
        font-size: 12px;
        gap: 8px;
    }
}