.Index_rich_text_store_locator_main_new {
    background: #fff;
    padding: 56px 0 24px;
}
.Index_rich_text_store_locator_main_new .Index_rich_text_store_locator_main_title h2 {
    color: #000;
    text-align: center;
}
.Index_rich_text_store_locator_main_description p{
    color: #000;
    text-align: center;
    line-height: 128%;
    margin: 16px 0 0;
}  
.Index_rich_text_store_locator_main_description {
    max-width: 410px;
    margin: auto;
}

.template-store-locator .main-page-title {
    margin-bottom: 4rem;
    display: none;
}  

@media (max-width: 749px){
.Index_rich_text_store_locator_main_new {
    padding: 32px 0px 14px;
}
}  